<div class="faqs-section section-{{ section.id }} container-fluid bg-{{ section.settings.background_color }} my-{{ section.settings.margin }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-{{ section.settings.container_size }} text-{{ section.settings.alignment }} text-{{ section.settings.text_color }}">
                {% if section.settings.title != blank %}
                <h2 class="mb-4">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="faqs-section_text"><p>{{ section.settings.text }}</p></div>
                {% endif %}
                <div class="accordion accordion-flush pt-2 text-{{ section.settings.text_color }}" id="faqAccordion">
                        {% for block in section['block_order'] %}
                            {% block %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% styles %}
.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }} .accordion-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3)!important;
}

.section-{{ section.id }} .accordion-button {
    font-size: 0.75em;
    font-weight: 700;
}

.section-{{ section.id }} .accordion-body {
    font-size: 0.9em;
    line-height: 1.6;
}

.section-{{ section.id }} .accordion-button:focus {
    border-color: transparent;
    outline: 1px solid transparent;
    box-shadow: none;
}

.section-{{ section.id }} .accordion-button, .accordion-body {
    padding-left: 0;
    padding-right: 0;
}

{% if section.settings.text_color == 'inverse' %}
.section-{{ section.id }} .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23{{ inverse_color_text | remove: '#' }}'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
    
.section-{{ section.id }} accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23{{ inverse_color_text | remove: '#' }}'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.section-{{ section.id }} .accordion-item, .section-{{ section.id }} .accordion-button {
    background-color: transparent !important;
    color: {{ inverse_color_text }} !important;
}

{% else %}
.section-{{ section.id }} .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23{{ accent1_color | remove: '#' }}'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
    
.section-{{ section.id }} .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23{{ accent1_color | remove: '#' }}'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.section-{{ section.id }} .accordion-item, .section-{{ section.id }} .accordion-button {
    background-color: transparent !important;
    color: {{ color_text }} !important;
}

.section-{{ section.id }} .accordion-button:focus {
    outline: 1px solid transparent;
}
{% endif %}


@media screen and (max-width: 576px) {
    .faqs-section {
        padding: 80px 20px;
    }
}

{% endstyles %}

{% schema %}
{
    "name": "FAQs",
    "description": "Section showing questions and answers in an accordion with options for a section title, content and customizable background.",
    "max_blocks": 99,
    "settings": [
        {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "0",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
            "label": "Large",
            "value": "5"
            }]
        },
        {
            "type": "select",
            "id": "padding",
            "label": "Section Padding",
            "default": "80px",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "40px"
            },
            {
                "label": "Medium",
                "value": "80px"
            },
            {
                "label": "Large",
                "value": "120px"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Container Size",
            "default": "6",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "background2",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "start",
            "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Text"
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "faq"
        }
    ]
}
{% endschema %}